<h2><%= @contact.title() %> <%= @contact.first_name() %> <%= @contact.last_name() %></h2>
<h5><%= @contact.job_title() %></h5>

<div class="row jk-phones">
  <h3>Phone Numbers:</h3>

  <ul>
    <% Phone.find_by_contact_id(@contact.id()).each() do |phone| %>
    <li>
      <strong><%= phone.phone_type() %></strong> - <%= phone.phone_number() %><a href="/phone/<%= phone.contact_id() %>/<%= phone.id() %>/delete"> <span class="glyphicon glyphicon-remove bk-remove" aria-hidden="true"></span></a>
    </li>
    <% end %>
    <form action="/contact/<%= @contact.id() %>/phone/new" method="post">
      <select name="phone_type">
        <option value="Home">Home</option>
        <option value="Work">Work</option>
        <option value="Cell">Cell</option>
        <option value="Pager">Pager</option>
        <option value="Fax">Fax</option>
      </select>
      <input name="phone_number" type="text" placeholder="Phone Number (***-***-****)">
      <button type="submit" class="btn btn-primary">Add Phone Number</button>
    </form>
  </ul>
</div>

<div class="row jk-addresses">
  <h3>Addresses:</h3>

  <ul>
    <% Address.find_by_contact_id(@contact.id()).each() do |address| %>
    <li>
      <strong><%= address.address_type() %></strong>
      <p>
        <a href="<%= address.google_maps_link() %>" target="_blank"><%= address.street() %><br>
        <%= address.city() %>, <%= address.state() %> <%= address.zipcode() %></a> <a href="/address/<%= address.contact_id() %>/<%= address.id() %>/delete"> <span class="glyphicon glyphicon-remove bk-remove" aria-hidden="true"></span></a>
      </p>
    </li>
    <% end %>
    <form action="/contact/<%= @contact.id() %>/address/new" method="post">
      <select name="address_type">
        <option value="Home">Home</option>
        <option value="Work">Work</option>
        <option value="Vacation Home">Vacation Home</option>
      </select>
      <input name="street" type="text" placeholder="Address (123 Main St)" size="30"><br>
      <input name="city" type="text" placeholder="City">, <input name="state" type="text" size="5" placeholder="State">
      <input name="zipcode" type="text" placeholder="Zipcode" size="12"><br>
      <button type="submit" class="btn btn-primary">Add Address</button>
    </form>
  </ul>
</div>

<div class="row jk-emails">
  <h3>Email Addresses:</h3>

  <ul>
    <% Email.find_by_contact_id(@contact.id()).each() do |email| %>
    <li>
      <strong><%= email.email_type() %></strong> - <a href="mailto:<%= email.email_address() %>"><%= email.email_address() %></a> <a href="/email/<%= email.contact_id() %>/<%= email.id() %>/delete"> <span class="glyphicon glyphicon-remove bk-remove" aria-hidden="true"></span></a>
    </li>
    <% end %>
    <form action="/contact/<%= @contact.id() %>/email/new" method="post">
      <select name="email_type">
        <option value="Home">Home</option>
        <option value="Work">Work</option>
        <option value="Other">Other</option>
      </select>
      <input name="email_address" type="text" placeholder="Email Address">
      <button type="submit" class="btn btn-primary">Add Email Address</button>
    </form>
  </ul>
</div>
